<mat-toolbar>
  <span>{{form.controls['$key'].value?"Editar cliente":"Nuevo Cliente"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">

          <mat-form-field>
            <input formControlName="id" matInput placeholder="Cedula*">
            <mat-error *ngIf="form.controls['phone'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="form.controls['phone'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
            <mat-error *ngIf="form.controls['phone'].errors?.pattern">Only numbers.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="name" matInput placeholder="Nombre Completo*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Apellidos">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="address" matInput placeholder="Direccion">
          </mat-form-field>
   
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">

            <mat-form-field>
                <input formControlName="phone" matInput placeholder="Telefono*">
                <mat-error *ngIf="form.controls['phone'].errors?.required">This field is mandatory.</mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.pattern">Only numbers.</mat-error>
              </mat-form-field>

            <div class="add-bottom-padding">
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                  <mat-radio-button value="3">Other</mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field>
                  <input formControlName="email" matInput placeholder="Email">
                  <mat-error>Invalid email address.</mat-error>
              </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>